.App-Albums { 
  display: grid;
  grid-gap: 16px;
  padding: 32px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-Albums .Album:nth-child(1) {
  border: green 2px solid;
}
.App-Albums .Album:nth-child(2) {
  border: blue 2px solid;
}
.App-Albums .Album:nth-child(3) {
  border: purple 2px solid;
}
